@media screen and (max-width: 1600px) {
    .fo-introducao {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 992px) {
    .foto-eu {
        display: none;
    }
    .fo-introducao {
        font: 1.4em/1.5em;
    }
}

@media screen and (max-width: 768px) {
    .fo-introducao {
        font-size: 1em;
    }
    .fo-apresentacao {
        text-align: justify;
    }
    .btn-sobre {
        color: rgb(0, 0, 0);
        font-size: 27px;
        border-color: rgb(0, 0, 0);
        background: transparent;
        border-radius: 40px;
        padding: 8px 20px 8px 20px;
        margin-top: 0.3em;
        font: 1.2em/1em 'Merriweather', serif;
        cursor: pointer;
        font-weight: bold;
    }
    .btn-sobre:hover {
        color: rgb(0, 0, 0);
        border-color: rgba(94, 94, 94, 1);
    }
    .container {
        width: 100%;
        min-height: 100vh;
        padding: 0em 1em;
        display: flex;
        flex-wrap: wrap;
        background: url(./imagens/10.jpg) no-repeat fixed;
        background-size: 100% 100%;
    }
    .container-apresentacao {
        width: 100%;
    }
    .container-objetivo {
        width: 100%;
        border: none;
        min-height: 100vh;
    }
}

@media screen and (max-width: 576px) {
    .mim {
        font-size: 40px;
    }
    header {
        border-bottom: 3px solid rgba(218, 218, 218, 0.79);
    }
    .background-rodape {
        border-top: 2.2px solid rgba(218, 218, 218, 0.79);
    }
    .social-icons a {
        font-size: 2.2em;
        color: rgb(255, 255, 255);
        padding: 0px 10px;
    }
    .espaco-topicos {
        margin-left: 0em;
    }
    .estrutura-tecnologias {
        display: block;
    }
    .fo-apresentacao {
        font: 500 1.2em/1.2em 'Merriweather', 'serif';
        text-align: justify;
    }
    /*----------------- Container -----------------*/
    .container-intro {
        width: 50%;
        display: flex;
        min-height: 100vh;
        align-items: center;
        padding: 0em 1em;
    }
}


/*Min-width - acima de 500px aplica
Max-width - abaixo de 500px aplica*/


/*Resolução para celular 1090x1920*/