@media screen and (max-width: 1600px) {}

@media screen and (max-width: 992px) {
    .foto-eu {
        display: none;
    }
    .fo-introducao {
        font: 1.3em/1.5em 'Merriweather', 'Sans-serif';
        letter-spacing: -0.7px;
        color: rgba(255, 255, 255, 0.8);
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        min-height: 100vh;
        padding: 0em 1.8em;
    }
}

@media screen and (max-width: 576px) {}


/*Min-width - acima de 500px aplica
Max-width - abaixo de 500px aplica*/